<p>about works!</p>
<section class="common-section1">
    <div class="overlay common-overlay">
        
    </div>
    <div class="common-banner1">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-xs-12">
                    <header>
                        <h1>
                            About
                        </h1>
                    </header>
                    <p>
                        
                    </p>

                </div>
                
            </div>
            
        </div>

        
    </div>
    
</section>
<section class="home2-section common-styling">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <p>
                    
                Apoyo assures quality health care services to you and your loved ones. We are a team dedicated in providing verified professionnel for all your health needs. We are very stringent on the quality of service that is rendered. 

                With services like medicine delivery, pathology tests and our uniquely designed health packages we ensure that 
                <strong>
                    <em>
                        “your health always remains our priority”
                    </em>
                </strong>
                </p>
                
            </div>
            
        </div>
        
    </div>
    
</section>
<section class="leadership-section common-styling">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <header class="text-center">
                    <h1>
                        Leadership
                    </h1>
                    
                </header>
                <div class="row">
                    <div class="col-md-6 col-xs-12">
                        <h3 class="text-center">
                            Ajay Panday
                            
                        </h3>
                        <h4 class="text-center">
                            Founder
                            
                        </h4>
                        <p class="text-center">

                        Ajay is a serial entrepreneur, who has successfully run various businesses in UK and India.
                        With over 17 years of diversified experience in building new business across industries such as Telecoms, Food, Business Process Outsourcing, Ajay now leads Apoyo with a vision of providing support for health needs in people's lives. 
                    
                            
                        </p>
                        
                    </div>
                    <div class="col-md-6 col-xs-12">
                        <h3 class="text-center">
                            Bharti Padhy
                        </h3>
                        <h4 class="text-center">
                            Director
                        </h4>
                        <p class="text-center">
                            
                        Bharati brings in her distinctive experience of working for IT and Telecom domains. Having a work exposure of 12 years in India and UK, she knows to bring in best of both worlds in terms of end user experience for Apoyo. She also have been a former director of Pizzaghar, a Mumbai based chain of restaurants. 
                    
                            
                        </p>
                        
                    </div>
                    
                </div>
                
            </div>
            
        </div>
        
    </div>
    
</section>

