<header class="header-class">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="header-logo">
                
            <a href="./index.html">
                <img src="assets/img/apoyo-logo-yellow-txt.png" class="img-responsive" alt="getapoyo.com">
            </a>
                </div>
            </div>
            
            <div class="col-md-9">
    
                <ul class="list-unstyled text-right list-inline">
                    <li>
                        <a [routerLink]="['/about']">About</a>
                        
                    </li>
                    <li>
                        <a [routerLink]="['/service']">Services</a>
                    </li>
                    <li>
                        <a [routerLink]="['/health-and-living']">Health and Living</a>
                    </li>
                    <li>
                        <a [routerLink]="['/contact']">Contact</a>
                    </li>
                    <li>
                        <a href="tel:9778901902"><i class="fa fa-phone" aria-hidden="true"></i>
                        &nbsp; &nbsp;9778-901-902
                        </a>
                    </li>
                </ul>
                    
                
                
            </div>
            
        </div>
        
    </div>
       
    </header>
    

<router-outlet></router-outlet>

   
<footer class="footer-class">
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <h3>
                ABOUT US
            </h3>
                <ul class="list-unstyled">
                    <li>
                        <a href="https://getapoyo.com/careers">Careers</a>
                    </li>
                    <li>
                        <a href="https://getapoyo.com/contact">Contact Us</a>
                    </li>
                    <li>
                        <a href="https://getapoyo.com/health-and-living">Health &amp; Living</a>
                    </li>
                    <li>
                        <a href="https://getapoyo.com/terms-conditions">Terms &amp; Conditions</a>
                    </li>
                </ul>
                
            </div>
            <div class="col-md-2">
                <h3>
                    SERVICES
                </h3>
                <ul class="list-unstyled">
                    <li>
                        <a href="https://getapoyo.com/medicine-delivery">Medicine Delivery</a>
                    </li>
                    <li>
                        <a href="https://getapoyo.com/pathology-test">Pathology Tests</a>
                    </li>
                    <li>
                        <a href="https://getapoyo.com/consult-a-doctor">Consult a Doctor</a>
                    </li>
                    <li>
                        <a href="https://getapoyo.com/health-packages">Health Packages</a>
                    </li>
                    
                </ul>
    
            </div>
            <div class="col-md-5">
                
            </div>
            <div class="col-md-3">
                <h3>
                    ADDRESS
                </h3>
                <p>
                    Adhikari Niwas,
                    <br>
                    Baikuntha nagar
                    <br>
                   </p>
                
            </div>
            
        </div>
        
    </div>
    </footer>
    <footer class="lower-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-xs-12">
                <p>
                    Copyright &copy; 2019 Getapoyo.com. All Rights Reserved.
                </p>
                
            </div>
            <div class="col-md-6 col-xs-12">
                <p class="Copyrights text-right">
                    
                             Powerd by
                    <a target="_blank" href="/getapoyo/index.html" title="Getapoyo"> Getapoyo
                    </a>        
                    
                </p>
    
                
            </div>
            
        </div>
        
    </div>
    
    </footer>
    
