<p>health-and-living works!</p>
<div class="page-hnl bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <header>
                    <h1 class="page-title">
                        Health & Living
                    </h1>
                </header>

            </div>

        </div>

  <div class="row">
    <div class="blog-card">
        <div class="row">
            <div class="col-md-4 col-xs-12">
                <div class="blog-img">
                    <img src="..\assets\img\blog.jpg" class="img-responsive">

                </div>

            </div>
            <div class="col-md-8 col-xs-12">
                <div class="blog">
                    <h3 class="blog-content">
                        
                            How to Prevent Urinary Tract Infection                        
                    </h3>
                    <ul class="list-inline list-unstyled">
                        <li class="blog-line">
                            
                                Saturday, April 29, 2017                                    

                        </li>
                    </ul>
                    <p>
                            Always dispose and change soiled tampons at frequent intervals to avoid bacterial growth. Drain out your bladder as often as you sense the need to. Do not hold on to it. Frequent urination helps to clear the bacteria. Prefer wearing
                    </p>
                    <div class="read-more">
                            <a href="https://getapoyo.com/dos-donts-prevent-urinary-tract-infection/">
                                Read More
                            </a>

                    </div>

                </div>

            </div>

        </div>

    </div>


<div class="blog-card">
        <div class="row">
            <div class="col-md-4 col-xs-12">
                <div class="blog-img">
                    <img src="..\assets\img\banana.img" class="img-responsive">

                </div>

            </div>
            <div class="col-md-8 col-xs-12">
                <div class="blog">
                    <h3 class="blog-content">
                        
                            
                            Banana Benefits: 20 Reasons To Eat 3 Everyday                                               
                    </h3>
                    <ul class="list-inline list-unstyled">
                        <li class="blog-line">
                            
                                
                                Monday, December 5, 2016                                                                        

                        </li>
                    </ul>
                    <p>
                            From preventing cardiovascular events to regulating PMS, bone mass, constipation, heartburn, and more than a dozen other ailments, bananas pack enough of a nutritional punch to make most medications look like candy. Bananas benefits us by giving&nbsp;an instant, sustained and
                    </p>
                    <div class="read-more">
                            <a href="https://getapoyo.com/banana-benefits-20-reasons-eat-3-everyday/">
                                Read More
                            </a>

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>
<div class="blog-card">
        <div class="row">
            <div class="col-md-4 col-xs-12">
                <div class="blog-img">
                    <img src="..\assets\img\health.img" class="img-responsive">

                </div>

            </div>
            <div class="col-md-8 col-xs-12">
                <div class="blog">
                    <h3 class="blog-content">
                        
                            
                            
                            The Ketogenic Diet: Does it live up to the hype?                                                                       
                    </h3>
                    <ul class="list-inline list-unstyled">
                        <li class="blog-line">
                            
                                
                                
                                Wednesday, September 7, 2016                                                                                                            

                        </li>
                    </ul>
                    <p>
                            If you believe the buzz, ketosis —&nbsp;whether via the almost-zero-carb ketogenic diet or via ketone supplements— can curb appetite, enhance performance, and cure nearly any health problem that ails you.&nbsp;Sound too good to be true? It probably is. ++++ Wouldn’t
                    </p>
                    <div class="read-more">
                            <a href="https://getapoyo.com/banana-benefits-20-reasons-eat-3-everyday/">
                                Read More
                            </a>

                    </div>

                </div>

            </div>

        </div>

    </div>


</div>
</div>