
    <section class="image-section">
    <div class="overlay"></div>
    <div class="container">
        
        
    </div>		
    </section>
    
    <section class="all-service-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 col-xs-12 side-no-spacing">
                <div class="service-card">
                    <div class="row">
                        <div class="col-md-4 col-xs-12">
                            <img src="assets/img/apoyo-icon-doctor.png" class="img-responsive" style="margin-top: 10px; margin-left: 15px;">
                            
                        </div>
                        <div class="col-md-8 col-xs-12">
                            <div class="service-content">
                                <div>
                                    <h3>
                                        <span>Consult a Doctor</span>
                                        <br>
                                        With Great Ease.
                                    </h3>
                                </div>
                                
                            </div>
    
                            
                        </div>
                        
                    </div>
                    
                </div>
    
    
            </div>
            <div class="col-md-4 col-xs-12 side-no-spacing">
                <div class="service-card">
                    <div class="row">
                        <div class="col-md-4 col-xs-12">
                            <img src="assets/img/apoyo-med-delivery-icon.png" class="img-responsive" style="margin-top: 10px">
                            
                        </div>
                        <div class="col-md-8 col-xs-12">
                            <div class="service-content">
                                <div>
                                    <h3>
                                        <span>Timely</span>
                                        <br>
                                        Medicine Delivery.
    
                                    </h3>
                                </div>
                                
                            </div>
                            
                        </div>
                        
                    </div>
                    
                </div>
                
            </div>
            <div class="col-md-4 col-xs-12 side-no-spacing">
                <div class="service-card no-border">
                    <div class="row">
                        <div class="col-md-4 col-xs-12">
                            <img src="assets/img/apoyo-health-package-icon.png" class="img-responsive" style="margin-top: 10px">
                            
                        </div>
                        <div class="col-md-8 col-xs-12">
                            <div class="service-content">
                                <div>
                                    <h3>
                                        <span>
                                            Exclusive
                                        </span>
                                        <br>
                                        Health Package.
                                    </h3>
                                </div>
                                
                            </div>
                            
                        </div>
                        
                    </div>
                    
                </div>
                
            </div>
         </div>
            
        </div>
        
    </section>
    <section class="about-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <header>
                    <h1>
                        About
                    </h1>
                </header>
                <p>
                    I am Sakshi Vaish From Lucknow now in Bangalore
                    <strong>
                        <em>"Sakshi Vaish"</em>
                    </strong>
                </p>
                
            </div>
            
        </div>
        
    </div>
    
    </section>
    <section class="service-section common-styling">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <header>
                    <h1>
                        Services
                    </h1>
                </header>
                
            </div>
            
        </div>
        
    </div>
    
    </section>
    <section class="home-service-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-xs-12">
                <div class="serve-card">
                <div class="row">
                    <div class="col-md-2 col-xs-12">
                        <div class="service-img">
                            <div>
                        <img src="assets/img/apoyo-med-delivery.png" class="img-responsive">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-10 col-xs-12">
                        <div class="service-content">
                            <h3>
                                Medicine Delivery
                            </h3>
                            <p>
                                
                                Apoyo makes it easy to avail your medicines from home by simply uploading your prescription and providing the necessary details  that would be required for the delivery.
                            
                            </p>
                            
                        </div>
    
                        
                    </div>
                    
                </div>
                </div>
            </div>
            <div class="col-md-6 col-xs-12">
                <div class="serve-card">
                    <div class="row">
                        <div class="col-md-2 col-xs-12">
                            <div class="service-img">
                                <div>
                                <img src="assets/img/apoyo-pathology-test-icon.png" class="img-responsive">
    
                                </div>
                            </div>
                            
                        </div>
                        <div class="col-md-10 col-xs-12">
                            <div class="service-content">
                                <h3>
                                    Pathology Tests
                                </h3>
                                <p>
                                    
                                With Apoyo, you can select a suitable medical test from a wide range of options, book an appointment and avail the test report either through an SMS/ Email.
                            
                                </p>
                                
                            </div>
                            
                        </div>
                        
                    </div>
                    
                </div>
                
            </div>
            
        </div>
        <div class="row">
            <div class="col-md-6 col-xs-12">
                <div class="serve-card">
                    <div class="row">
                        <div class="col-md-2 col-xs-12">
                            <div class="service-img">
                                <div>
                                    <img src="assets/img/apoyo-call-doctor-icon.png" class="img-responsive">
                                </div>
                                
                            </div>
                            
                        </div>
                        <div class="col-md-10 col-xs-12">
                            <div class="service-content">
                                <h3>
                                    Consult a Doctor
                                </h3>
                                <p>
                                    
                                Apoyo lets you browse through and  schedule an appointment with experienced doctors.
                            
                                </p>
                                
                            </div>
                            
                        </div>
                         
                    </div>
                    
                </div>
                
            </div>
            <div class="col-md-6 col-xs-12">
                <div class="serve-card">
                    <div class="row">
                        <div class="col-md-2 col-xs-12">
                            <div class="service-img">
                                <div>
                                    <img src="assets/img/apoyo-health-package.png" class="img-responsive">
                                </div>
                                
                            </div>
                            
                        </div>
                        <div class="col-md-10 col-xs-12">
                            <div class="service-content">
                                <h3>
                                    Health Packages
                                </h3>
                                <p>
                                    
                                Apoyo offers several health packages with each package having a unique feature associated with it.
                            
                                </p>
                                
                            </div>
                            
                        </div>
                        
                    </div>
                    
                </div>
                
            </div>
            
        </div>
        
    </div>
    
    </section>
    <section class="testimonials-section common-styling common-styling1">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <header>
                    <h1>
                        Testimonials
                    </h1>
                </header>
                <div class="testimonial-slider">
                    
                </div>
                
            </div>
            
        </div>
        
    </div>
    
    </section>
    
    <section class="map-section">
    <div class="container-fluid">
        <div class="row">
            
            <div class="col-md-6 col-xs-12">
                <div class="signin-section">
                    <header>
                        <h1>
                            Welcome to Apoyo
                        </h1>
                    </header>
                     <form id="signin_form" name="signin_form" class="signin_form" method="post">
                         <div class="form-group form-field">
                             <input type="text" id="email" name="email" class="form-control custom-form-style" data-validations="required" placeholder="E-Mail ID">
                             
                         </div>
    
                         <div class="form-group form-field">
                             <input type="password" id="password" name="password" class="form-control password custom-form-style" data-validations="required" placeholder="Password">
                             
                         </div>
                         <input type="hidden" name="action" id="action" value="page_signin">
                         <button type="submit" class="btn btn-block submit-btn">
                         
                             Sign in
                         </button>

                         <a href="../assets/doc/Sakshi-July.pdf" download><button class="btn btn-primary">pdf</button></a>
                     </form>
                </div>
                
            </div>
            <div class="col-md-6 col-xs-12">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3889.0541071396483!2d77.58696601482131!3d12.904242390900126!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae151472d485f9%3A0x5555436280bd330d!2sVinayaka+Niwas%2C+5th+Phase%2C+J+P+Nagar+Phase+5%2C+J.+P.+Nagar%2C+Bengaluru%2C+Karnataka+560078!5e0!3m2!1sen!2sin!4v1562952539793!5m2!1sen!2sin" wframeborder="0" height="400" width="400" style="border:0; padding-top: 90px; margin-left: 90px;"></iframe>
                
            </div>
            
        </div>
        
    </div>
    
    </section>
    <section class="review-section common-styling">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <header>
                    <h1>
                        What our customer's say
                    </h1>
                </header>
                
                
            </div>
            
        </div>
    
        
    </div>
    
    </section>
    <section class="footer-img">
    <div class="footer-overlay">
        
    </div>
    <div class="container">
    
        
    </div>
    
    </section>
    
    
 