<p>service works!</p>
<section class="common-section1">
    <div class="overlay common-overlay">
        
    </div>
    <div class="common-banner1">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-xs-12">
                    <header>
                        <h1>
                            Services
                        </h1>
                    </header>
                    <p>
                        
                    </p>

                </div>
                
            </div>
            
        </div>

        
    </div>
    
</section>
<section class="home-service-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-xs-12">
                <div class="serve-card">
                <div class="row">
                    <div class="col-md-2 col-xs-12">
                        <div class="service-img">
                            <div>
                        <img src="../assets/img/apoyo-med-delivery.png" class="img-responsive">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-10 col-xs-12">
                        <div class="service-content">
                            <h3>
                                Medicine Delivery
                            </h3>
                            <p>
                                
                                Apoyo makes it easy to avail your medicines from home by simply uploading your prescription and providing the necessary details  that would be required for the delivery.
                            
                            </p>
                            <a href="./index.html" class="know-more-btn" title="know more">
                                Know more&nbsp;&nbsp;
                                <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                            </a>
                        </div>

                        
                    </div>
                    
                </div>
                </div>
            </div>
            <div class="col-md-6 col-xs-12">
                <div class="serve-card">
                    <div class="row">
                        <div class="col-md-2 col-xs-12">
                            <div class="service-img">
                                <div>
                                <img src="../assets\img\apoyo-pathology-test-icon.png" class="img-responsive">

                                </div>
                            </div>
                            
                        </div>
                        <div class="col-md-10 col-xs-12">
                            <div class="service-content">
                                <h3>
                                    Pathology Tests
                                </h3>
                                <p>
                                    
                                With Apoyo, you can select a suitable medical test from a wide range of options, book an appointment and avail the test report either through an SMS/ Email.
                            
                                </p>
                                <a href="./index.html" class="know-more-btn" title="know more">
                                Know more&nbsp;&nbsp;
                                <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                            </a>
                                
                            </div>
                            
                        </div>
                        
                    </div>
                    
                </div>
                
            </div>
            
        </div>
        <div class="row">
            <div class="col-md-6 col-xs-12">
                <div class="serve-card">
                    <div class="row">
                        <div class="col-md-2 col-xs-12">
                            <div class="service-img">
                                <div>
                                    <img src="../assets\img\apoyo-call-doctor-icon.png" class="img-responsive">
                                </div>
                                </div>
                            
                        </div>
                        <div class="col-md-10 col-xs-12">
                            <div class="service-content">
                                <h3>
                                    Consult a Doctor
                                </h3>
                                <p>
                                    
                                Apoyo lets you browse through and  schedule an appointment with experienced doctors.
                            
                                </p>
                                <a href="./index.html" class="know-more-btn" title="know more">
                                Know more&nbsp;&nbsp;
                                <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                            </a>
                                
                            </div>
                            
                        </div>
                         
                    </div>
                    
                </div>
                
            </div>
            <div class="col-md-6 col-xs-12">
                <div class="serve-card">
                    <div class="row">
                        <div class="col-md-2 col-xs-12">
                            <div class="service-img">
                                <div>
                                    <img src="../assets\img\apoyo-health-package.png" class="img-responsive">
                                </div>
                                
                            </div>
                            
                        </div>
                        <div class="col-md-10 col-xs-12">
                            <div class="service-content">
                                <h3>
                                    Health Packages
                                </h3>
                                <p>
                                    Apoyo offers several health packages with each package having a unique feature associated with it.
								
                                </p>
                                <a href="./index.html" class="know-more-btn" title="know more">
                                Know more&nbsp;&nbsp;
                                <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                            </a>
                                
                            </div>
                            
                        </div>
                        
                    </div>
                    
                </div>
                
            </div>
            
        </div>
        </div>
    </section>
      